
@{
    ViewData["Title"] = "_About";
}

<div class="i">
    <ul class="simpleListings">
        <li>
            <a href="#" title="#" class="itemOptions"><i class="fa fa-cog"></i></a>
            <div class="title">Sr. UX designer <span>(3 years)</span></div>
            <div class="info">6th Sep 2012 - 24th Oct 2015 at <a href="#" title="#" class="text-orange">eFabrica.com</a></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel sapien at risus commodo varius vel ut sapien. Aenean sodales non ex et venenatis. In hac habitasse platea dictumst.</p>
        </li>
        <li>
            <a href="#" title="#" class="itemOptions"><i class="fa fa-cog"></i></a>
            <div class="title">Front-end Developer <span>(2 years)</span></div>
            <div class="info">2nd Nov 2010 - 6th Oct 2012 at <a href="#" title="#" class="text-orange">Apple.com</a></div>
        </li>
        <li>
            <a href="#" title="#" class="itemOptions"><i class="fa fa-cog"></i></a>
            <div class="title">Jr. Web designer <span>(3 years)</span></div>
            <div class="info">29th May 2007 - 21st Sep 2010 at <a href="#" title="#" class="text-orange">Alkajda.com</a></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vel sapien at risus commodo varius vel ut sapien. Aenean sodales non ex et venenatis. In hac habitasse platea dictumst.</p>
        </li>
    </ul>
</div>