@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

@*<div class="container">
    <div class="row pull-right">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-signin mg-btm">
            <h3 class="heading-desc">
                Login to IdeaClub
            </h3>
            <div class="social-box">
                <div class="row mg-btm">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-primary btn-block">
                            <i class="icon-facebook"></i>    Login with Facebook
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-info btn-block">
                            <i class="icon-twitter"></i>    Login with Twitter
                        </a>
                    </div>
                </div>
            </div>
            <div class="main">
                <input asp-for="Email" type="text" class="form-control" placeholder="Email" autofocus>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Config password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                <span class="clearfix"></span>
            </div>
            <div class="login-footer">
                <div class="row">
                    <div class="col-xs-5 col-md-5 pull-right">
                        <button type="submit" class="btn btn-large btn-danger pull-right">Register</button>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-large btn-danger pull-right">Register</button>
        </form>
    </div>
</div>*@

<div id="wrapper">
    <div class="login-form">
        <div class="header">
            <h1>Registration</h1>
        </div>
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
            <div class="content">
                <input asp-for="Email" type="text" class="input username" placeholder="Email" autofocus>
                <span asp-validation-for="Email" class="text-danger"></span>
                <input asp-for="Password" type="password" class="input password" placeholder="Password">
                <span asp-validation-for="Password" class="text-danger"></span>
                <input asp-for="ConfirmPassword" type="password" class="input password" placeholder="Config password">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="footer">
                <input type="submit" name="submit" value="Register" class="buttonreg"/>
            </div>
        </form>
    </div>
</div>
<div class="gradient"></div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
